/*
* GLOBAL STYLES
*/

$bg-color: #947CB0;

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    transition: 250ms ease-in-out;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 3px;
}